<strong>Password Recovery</strong>

<p>You have requested a password recovery.</p>

<p>To continue with the password recovering use this token: {{ token }}</p>

<p>
  If you prefer, you can click on this link as below to reset your password.
</p>

<a href="{{ link }}"
  >Reset my password</a
>
