<strong>Hi {{ addresseeUsername }} !! I hope you be well</strong>

<p>So lets talk about work! Here's a new task for you: {{ taskTitle }}</p>

@if(isThereAttachment)
<p>Please, check the attached file to more details</p>
@endif
